@tailwind base;
@tailwind components;
@tailwind utilities;

.message {
    display: flex;
    /* background: gray; */
    padding: 10px;
    margin: 1rem;
    border-radius: 1rem;
    width: max-content;
    
}

.my-message {
    display: flex;
    justify-content: flex-end;
    
    padding: 10px;
    margin: 1rem;
    border-radius: 1rem;
    /* width: max-content; */
    
}

.parrafo {
    display: flex;
    padding: 10px;
    border-radius: 1rem;
    width: max-content;
    background: white;
  }

  .parrafo2 {
    display: flex;
    padding: 10px;
    border-radius: 1rem;
    width: max-content;
    background: gray;
  }

  .close {
    display: none;
  }

  .open {
    display: block;
  }

  .emoji-panel {
    position: absolute;
    top: 38%; /* Ajusta esta propiedad según sea necesario para que el panel de emoji se muestre hacia arriba */
    left: 30%;
    z-index: 999; /* Asegúrate de que el valor de z-index sea mayor que el del resto del formulario para que el panel de emoji se superponga */
  }

  .emoji-panel2 {
    position: absolute;
    top: 46%; /* Ajusta esta propiedad según sea necesario para que el panel de emoji se muestre hacia arriba */
    left: 8%;
    z-index: 999; /* Asegúrate de que el valor de z-index sea mayor que el del resto del formulario para que el panel de emoji se superponga */
  }
